/API1.py
/decorators.py
/enumerate2.py
/Ex2.py
/Ex3.py
/Ex4.py
/Ex5.py
/polymorf_1.py
/Untitled-1.py
/ДегтяревВС_Задание1.py
/ДегтяревВС_Задание2.py
/Декоратор функции.jpg
/Задание1.jpg
/Задание1.py
/Задание2.jpg
/Задание2.py
/ООП1.py
/ООП2.py
/ООП3.py
/понять Елду.py
/пример3.py
/Работа с множествами.png
/Работа со списками.png
/Структуры данных.Кортежи.py
/Структуры данных.Множества.py
/Структуры данных.Словари.py
/Структуры данных.Словари2.py
/Функции.py
/функции2.py
/Функции3.py
/Функции4.py
/функции5.py
/функции6.py
/функции7_Работа декоратора.py
/Функции8_Модули.py
/Функции9_свои модули.py
/Циклы с enumerate.py
/Циклы Строки.py